{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrapper-graybg">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6">
                    <h2>Titre</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at beatae culpa dolorum et impedit laboriosam laudantium magnam, nam nisi optio quam quasi sint velit? Animi culpa quibusdam recusandae!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at beatae culpa dolorum et impedit laboriosam laudantium magnam, nam nisi optio quam quasi sint velit? Animi culpa quibusdam recusandae!</p>
                    <button class="btn btn-primary">Visitez notre blog</button>
                </div>
                <div class="col-md-6">
                    <img src="{{ asset('images/features/pagetitle.jpg') }}" class="img-responsive img-apropos" alt=""/>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-20"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="iconbox2">
                    <div class="iconbox2-bg"><i class="fa fa-binoculars"></i></div>
                    <div class="iconbox2-icon animated delay5 bounceIn" data-animation="bounceIn" style="opacity: 1;"><i class="fa fa-binoculars effect-3"></i></div>
                    <div class="iconbox2-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="iconbox2">
                    <div class="iconbox2-bg"><i class="fa fa-leaf"></i></div>
                    <div class="iconbox2-icon animated delay5 bounceIn" data-animation="bounceIn" style="opacity: 1;"><i class="fa fa-leaf effect-3"></i></div>
                    <div class="iconbox2-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-20"></div>

    <div class="wrapper-graybg">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12"><h2>Le projet NAO</h2></div>
                <div class="col-md-6 hr-nao">
                    <h3>Pour les particulier</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at beatae culpa dolorum et impedit laboriosam laudantium magnam, nam nisi optio quam quasi sint velit? Animi culpa quibusdam recusandae!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at beatae culpa dolorum et impedit laboriosam laudantium magnam, nam nisi optio quam quasi sint velit? Animi culpa quibusdam recusandae!</p>

                </div>
                <div class="col-md-6 ">
                    <h3>Pour les naturalistes</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at beatae culpa dolorum et impedit laboriosam laudantium magnam, nam nisi optio quam quasi sint velit? Animi culpa quibusdam recusandae!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at beatae culpa dolorum et impedit laboriosam laudantium magnam, nam nisi optio quam quasi sint velit? Animi culpa quibusdam recusandae!</p>

                </div>
            </div>
        </div>
    </div>

    <div class="mb-20"></div>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <img src="{{ asset('images/features/pagetitle.jpg') }}" class="img-responsive img-apropos" alt=""/>
            </div>
            <div class="col-md-6">
                <h2>Notre partenaire</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at beatae culpa dolorum et impedit laboriosam laudantium magnam, nam nisi optio quam quasi sint velit? Animi culpa quibusdam recusandae!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium at beatae culpa dolorum et impedit laboriosam laudantium magnam, nam nisi optio quam quasi sint velit? Animi culpa quibusdam recusandae!</p>
            </div>
        </div>
    </div>

    <div class="mb-30"></div>

{% endblock %}